.appWrapper {
  text-align: center;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flexCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timer {
  border:2px solid black;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: auto;
}